body, html {
  padding: 0;
  margin: 0;
  background: #003399;
  height: 100%;
  font-family: "Verdana", "Liberation Sans", sans-serif; }

#contentbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

#box {
  background: #ffcc00;
  padding: 16px; }

#buttonwrapper {
  position: fixed;
  top: 50px;
  text-decoration: none;
  display: flex;
  align-items: center; }
  @media screen and (max-height: 400px) {
    #buttonwrapper {
      top: 10px; } }
  #buttonwrapper:hover {
    text-decoration: none; }
    #buttonwrapper:hover #icon {
      transform: rotate(90deg); }

#icon {
  width: 70px;
  height: 70px;
  transition: transform .3s;
  margin-right: 10px; }

#button {
  color: white;
  text-transform: uppercase; }

#name {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 16px; }

#description {
  font-size: 1.2rem; }

#share {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px; }
  #share svg {
    fill: white;
    width: 40px;
    height: 40px;
    display: block; }

.github-corner svg {
  fill: #ffcc00;
  color: #003399;
  position: absolute;
  top: 0;
  border: 0;
  right: 0; }

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out; }

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0); }
  20%, 60% {
    transform: rotate(-25deg); }
  40%, 80% {
    transform: rotate(10deg); } }

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none; }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out; } }
