$famousYellow: #ffcc00;
$famousBlue: #003399;

body, html {
  padding: 0;
  margin: 0;
  background: $famousBlue;
  height: 100%;
  font-family: "Verdana", "Liberation Sans", sans-serif;
}

#contentbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#box {
  background: $famousYellow;
  padding: 16px;
}

#buttonwrapper {
  position: fixed;
  top: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;     #icon {
      transform: rotate(90deg);
    }
  }
}

#icon {
  width: 70px;
  height: 70px;
  transition: transform .3s;
  margin-right: 10px;
}

#button {
  color: white;
  text-transform: uppercase;
}

#name {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
}